<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Blog Site</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div th:replace="/fragments/styling :: head-style"></div>
</head>
<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container-fluid">
		<div class="row d-flex align-items-start mt-5 pt-5">
			<div class="col-4 d-flex justify-content-center">
				<img alt="" src="/images/6.png" style="width: 200px; height: 400px;">
			</div>
			<div class="col-6">

				<div class="container-fluid ">

					<h1
						style="color: yellow; font-family: san-serif; font-weight: bold;"
						th:text="${title}"></h1>

					<div class="panel-body">
						<strong><p style="color: yellow; font-family: san-serif; font-weight: bold;" th:text="${author}" /></strong>
						<p style="color: yellow; font-family: san-serif; font-weight: bold;" th:text="${blogEntry}" />
					</div>
					<div class="panel-footer bg-black">
						<a href="#" th:href="@{/blogposts/delete/{id}(id=${id})}">
							<button class="btn btn-danger" type="submit">DeletePost</button>
						</a> <a th:href="@{/}"><button class="btn btn-success">Back
								To Home Page</button></a> <a th:href="@{/blogposts/new}"><button
								class="btn btn-primary">Submit a New Blog Post</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="/fragments/styling :: body-links"></div>
</body>
</html>