<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Blog Project</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<link href="../../css/standard.css" rel="stylesheet">
</head>
<body>

	<div th:fragment="navbar">

		<ul class="nav justify-content-center">
			<li class="nav-item"><a class="bg-black" th:href="@{/}"><button type="button" class="btn btn-outline-warning">Back to HomePage</button></a></li>
			<li class="nav-item"><a class="bg-black" th:href="@{/blogposts/new}"><button type="button" class="btn btn-outline-warning">Add a New Section</button></a></li>
		</ul>
	</div>

	<script src="../../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../../webjars/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>
